* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #eef2ff;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
}

h1 {
  color: #5C78EF;
}

h2 {
  font-size: 1.7rem;
}

p {
  margin: 15px 0;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  position: fixed;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}
nav li {
  list-style: none;
  color: #000;
  margin: 40px 0;
  font-size: 1rem;
}
nav li a {
  padding: 15px 20px;
  border: 1px solid #000;
  background-color: #fff;
}
nav li a span {
  display: inline-block;
  vertical-align: middle;
}
nav li a span:last-child {
  padding-left: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.5s padding;
  transition: 0.5s max-width, 0.5s padding;
}
nav li p {
  background-color: #fff;
}
nav .active {
  color: #fff;
}
nav .active a {
  background-color: #fff;
}
nav .active:nth-child(1) a {
  background-color: #5C78EF;
}
nav .active:nth-child(2) a {
  background-color: #ED8023;
}
nav .active:nth-child(3) a {
  background-color: #F55050;
}
nav .active:nth-child(4) a, nav .active:nth-child(4) p {
  background-color: #0ec778;
}
nav li:hover, nav li.active:hover, nav li:first-child.active {
  color: #fff;
}
nav li:hover a span:last-child, nav li.active:hover a span:last-child, nav li:first-child.active a span:last-child {
  padding-left: 15px;
  max-width: 160px;
}
nav li:hover:nth-child(1) a, nav li.active:hover:nth-child(1) a, nav li:first-child.active:nth-child(1) a {
  background-color: #5C78EF;
}
nav li:hover:nth-child(2) a, nav li.active:hover:nth-child(2) a, nav li:first-child.active:nth-child(2) a {
  background-color: #ED8023;
}
nav li:hover:nth-child(3) a, nav li.active:hover:nth-child(3) a, nav li:first-child.active:nth-child(3) a {
  background-color: #F55050;
}
nav li:hover:nth-child(4) a, nav li:hover:nth-child(4) p, nav li.active:hover:nth-child(4) a, nav li.active:hover:nth-child(4) p, nav li:first-child.active:nth-child(4) a, nav li:first-child.active:nth-child(4) p {
  background-color: #0ec778;
}
nav .socialmedia {
  cursor: pointer;
}
nav .socialmedia a {
  border: 0;
  padding: 0;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-transition: 0.5s max-width, 0.5s padding;
  transition: 0.5s max-width, 0.5s padding;
}

section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 5%;
  padding-bottom: 0;
}

.navigate {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.7rem;
  color: #727272;
}
.navigate:hover {
  color: #000;
}

.dialog {
  max-width: 40%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8235294118);
  position: absolute;
  border: 1px solid #000;
}
.dialog .cancel {
  text-align: right;
  font-family: sans-serif;
}
.dialog .cancel p {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 200;
}
.dialog .cancel a {
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
}
.dialog a:hover {
  text-decoration: underline;
}
.dialog.one {
  left: 20%;
  top: 15%;
}
.dialog.four {
  left: 15%;
  top: 29%;
}
.dialog.four h2 {
  color: #0ec778;
}
.dialog.two {
  right: 10%;
  top: 45%;
  width: 220px;
}
.dialog.two h2 {
  color: #ED8023;
}
.dialog.three {
  right: 40%;
  bottom: 15%;
  width: 250px;
}
.dialog.three h2 {
  color: #F55050;
}

.gallery {
  margin-left: 150px;
  margin-top: 100px;
}
.gallery .image {
  width: 47%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  padding: 5%;
  text-align: center;
}
.gallery .image:nth-child(even) {
  margin-left: 4%;
}
.gallery .image a {
  display: inline-block;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}
.gallery .image .navigate {
  margin: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  color: #dddddd;
  pointer-events: none;
}
.gallery .image .navigate:hover {
  color: #fff;
}
.gallery .image:hover a {
  opacity: 0.9;
}
.gallery .image:hover .navigate {
  opacity: 1;
}
.gallery.two {
  margin-bottom: 0;
}
.gallery.two .image {
  width: 29%;
  vertical-align: top;
}
.gallery.two .image:nth-child(even) {
  margin: 0 4%;
}

#illustrations .gallery .image {
  aspect-ratio: unset;
}
#illustrations .gallery .image .navigate {
  -webkit-transform: unset;
          transform: unset;
  top: 2.5%;
  -webkit-transform: translateY(-1.25%);
          transform: translateY(-1.25%);
  opacity: 1;
  color: #000 !important;
}

.dialog {
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.close {
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  padding: 0;
}

#projects .dialog, #illustrations .dialog {
  margin-left: 150px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.8s margin;
  transition: 0.8s margin;
}

#home {
  opacity: 1;
  -webkit-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.projectview #home {
  opacity: 0;
}

/*
nav .socialmedia a{pointer-events: none;max-width: 0;overflow: hidden;}
nav .socialmedia .invisible{white-space: nowrap;display: inline-block;vertical-align: bottom;padding-left: 0;max-width: 0;overflow: hidden;transition: 0.5s max-width, 0.3s padding;}
nav .socialmedia:hover .invisible{max-width: 180px;padding-left: 15px;}
nav .socialmedia a{display: none;}
.nothome nav .socialmedia a{pointer-events: unset;display: inline-block;max-width: 0;overflow: hidden;transition: 0.5s max-width, 0.3s padding;}
.nothome nav .socialmedia:hover a{max-width: 110px;}
.nothome nav .socialmedia .invisible{display: none !important;}

.sm .socialmedia, .nothome .socialmedia{display: list-item;transform: scale(1);}
*/
nav li:nth-child(4) .invisible {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.5s padding;
  transition: 0.5s max-width, 0.5s padding;
}
nav li:nth-child(4):hover .invisible {
  max-width: 140px;
  padding-right: 15px;
}
nav li:nth-child(4) > span {
  background-color: #fff;
  background-color: #fff;
  border: 1px solid green;
  display: inline-block;
}
nav li:nth-child(4) > span:hover {
  background-color: #0ec778;
}
nav li:nth-child(4) span span:first-child {
  padding: 15px 20px;
  display: inline-block;
}
nav li:nth-child(4) span a {
  vertical-align: middle;
}

nav li:nth-child(4):hover span a {
  padding-right: 15px;
}

nav {
  white-space: nowrap;
}
nav a {
  display: inline-block;
}
nav li {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
  transition: 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s max-height, 0.5s margin;
  transition: 0.5s transform, 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
  cursor: pointer;
}
nav li a span {
  vertical-align: bottom;
}

.home nav li:nth-child(1) {
  max-height: 80px;
  margin: 40px 0;
}
.home nav li:nth-child(4) a {
  display: none;
}
.home nav a {
  pointer-events: none;
}
.home nav li {
  -webkit-transform: scale(0);
          transform: scale(0);
  max-height: 0;
  margin: 0;
}
.home nav li.shownav {
  -webkit-transform: scale(1);
          transform: scale(1);
  max-height: 80px;
  margin: 40px 0;
  pointer-events: unset;
}

nav li > a {
  max-width: unset;
}

.nothome nav li {
  display: list-item;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nothome nav a {
  pointer-events: unset;
  overflow: hidden;
}
.nothome nav li:hover a {
  max-width: 200px;
}
.nothome nav .socialmedia a {
  pointer-events: unset;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.5s padding;
  transition: 0.5s max-width, 0.5s padding;
}
.nothome nav .socialmedia .invisible {
  display: none !important;
}
.nothome nav .socialmedia:hover a {
  max-width: 100px;
}

nav li:first-child {
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: unset;
}
nav li:first-child a {
  pointer-events: unset;
}

/*
.removesm{
    nav .socialmedia{display: none;}
    &.sm.nothome .socialmedia{display: list-item;}
}
*/
.projectview #projects .dialog {
  margin-left: 0;
}

.illustrationview #illustrations .dialog {
  margin-left: 0;
}

.open {
  display: none;
  margin-bottom: 40px;
}
.open span {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #000;
  background-color: #fff;
}
.open span:last-child {
  display: none;
}

#home .dialog {
  margin: 20px 0;
}
#home .dialog.one {
  margin-top: 0;
}
#home .dialog.one .cancel {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.8rem;
  }
  h2, h3, .navigate {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  body {
    padding-top: 30px;
  }
  .open {
    display: inline-block;
  }
  nav ul {
    display: none;
    padding-top: 10%;
  }
  section {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  nav {
    left: 0;
    -webkit-transform: unset;
            transform: unset;
    text-align: right;
    width: 100%;
    height: unset;
    right: 0;
    top: 0;
    padding: 30px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav li {
    margin: 10% 0;
  }
  nav li, nav li:hover, nav li.active:hover {
    color: #fff;
  }
  nav li a span:last-child, nav li:hover a span:last-child, nav li.active:hover a span:last-child {
    padding-left: 15px;
    max-width: 160px;
  }
  nav li:nth-child(1) a, nav li:hover:nth-child(1) a, nav li.active:hover:nth-child(1) a {
    background-color: #5C78EF;
  }
  nav li:nth-child(2) a, nav li:hover:nth-child(2) a, nav li.active:hover:nth-child(2) a {
    background-color: #ED8023;
  }
  nav li:nth-child(3) a, nav li:hover:nth-child(3) a, nav li.active:hover:nth-child(3) a {
    background-color: #F55050;
  }
  nav li:nth-child(4) a, nav li:nth-child(4) p, nav li:hover:nth-child(4) a, nav li:hover:nth-child(4) p, nav li.active:hover:nth-child(4) a, nav li.active:hover:nth-child(4) p {
    background-color: #0ec778;
  }
  nav .socialmedia {
    display: list-item;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav li {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .home nav a {
    pointer-events: unset;
  }
  .home nav li {
    -webkit-transform: scale(1);
            transform: scale(1);
    max-height: 700px;
    margin: 10% 0;
  }
  .home nav li:nth-child(4) a {
    display: inline-block;
  }
  nav li:nth-child(4) > span {
    background-color: #0ec778;
  }
  nav .socialmedia a, .nothome nav .socialmedia a {
    max-width: 100%;
  }
  nav li:nth-child(4) span a {
    padding-right: 15px;
  }
  .dialog {
    max-width: 100%;
    width: 100%;
    position: relative;
  }
  .dialog.one, .dialog.two, .dialog.three, .dialog.four {
    left: 0;
    right: unset;
    bottom: unset;
    width: 100%;
    top: unset;
  }
  #home .dialog {
    margin: 0;
    margin-bottom: 20px;
    max-height: 400px;
    -webkit-transition: 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
    transition: 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
    transition: 0.5s transform, 0.5s max-height, 0.5s margin;
    transition: 0.5s transform, 0.5s max-height, 0.5s margin, 0.5s -webkit-transform;
  }
  #home .close {
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
  .gallery {
    margin-left: 0;
    margin-top: 50px;
  }
  .gallery .image {
    aspect-ratio: unset;
    text-align: center;
  }
  .gallery .image, .gallery .gallery.two .image, .gallery.two .image:nth-child(even) {
    width: 100%;
    margin-bottom: 50px;
  }
  .gallery .image:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery img {
    display: inline-block;
  }
  #illustrations .gallery .image .navigate {
    top: -2rem;
  }
  .clicked {
    overflow: hidden;
  }
  .clicked .open span:first-child {
    display: none;
  }
  .clicked .open span:last-child {
    display: inline-block;
  }
  .clicked nav {
    height: 100vh;
    background-color: #fff;
  }
  .clicked nav ul {
    display: block;
  }
  #projects, #illustrations {
    padding-top: 30px;
  }
  .gallery .image:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 801px) {
  .gallery.two .image {
    padding: 2%;
  }
  nav li a {
    white-space: nowrap;
  }
  nav ul li:last-child {
    border-color: green;
  }
  nav ul li:last-child p {
    border-color: green;
  }
  nav ul li:last-child p span:first-child {
    color: green;
  }
  nav li {
    display: inline-block;
    max-width: 60px;
  }
  nav li.shownav {
    display: list-item;
    max-width: 60px;
  }
  nav li:hover, nav li.active, nav li.shownav:hover {
    display: list-item;
    max-width: unset;
  }
  .casestudy nav li {
    display: list-item;
    max-width: unset;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes opacity2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
nav {
  -webkit-animation: opacity2 0.5s;
          animation: opacity2 0.5s;
}

#home .dialog.one {
  -webkit-animation: opacity2 0.5s;
          animation: opacity2 0.5s;
}
#home .dialog.two {
  -webkit-animation: scale 0.5s 0.4s, opacity 0.7s;
          animation: scale 0.5s 0.4s, opacity 0.7s;
}
#home .dialog.three {
  -webkit-animation: scale 0.5s 0.9s, opacity 1.1s;
          animation: scale 0.5s 0.9s, opacity 1.1s;
}
#home .dialog.four {
  -webkit-animation: scale 0.5s 1.4s, opacity 1.7s;
          animation: scale 0.5s 1.4s, opacity 1.7s;
}

#projects .gallery, #illustrations .gallery {
  -webkit-animation: opacity2 0.5s;
          animation: opacity2 0.5s;
}/*# sourceMappingURL=style.css.map */
