* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #daebff;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

h1, h2, h3, h4 {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  padding-top: 40px;
}

h2, h3 {
  font-size: 2rem;
}

p {
  margin: 15px 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
}
section > .container {
  width: 90%;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}

section#portfolio {
  margin-top: 100vh;
}

nav {
  position: fixed;
  right: -2px;
  text-align: right;
  z-index: 100000;
  height: 95vh;
  padding-top: 115px;
  top: 0;
}
nav div span {
  position: relative;
  display: inline-block;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #000;
  margin: 10px 0;
  border-radius: 10px 0 0 10px;
}
nav div p {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  -webkit-transition: 0.5s max-width, 0.5s opacity, 0.5s padding;
  transition: 0.5s max-width, 0.5s opacity, 0.5s padding;
  margin: 0 0;
  cursor: pointer;
}
nav div span:hover p {
  text-decoration: underline;
}
nav div a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
nav div a:hover {
  text-decoration: none;
}
nav div.navlink {
  max-height: 0;
  overflow: hidden;
}
nav div.navlink span {
  opacity: 0;
  pointer-events: none;
}
nav div.navlink p {
  opacity: 0;
  max-width: 10px;
  padding: 10px 15px;
}
nav div.navlink.shownav {
  max-height: unset;
  overflow: unset;
}
nav div.navlink.shownav span {
  opacity: 1;
  max-height: unset;
  pointer-events: unset;
}
nav div.navlink a {
  pointer-events: none;
  opacity: 0;
}
nav div:first-child span:hover p, nav div.navlink span:hover p {
  text-decoration: underline;
}
nav div.navlink span:hover p {
  max-width: 180px;
  opacity: 1;
  padding: 10px 25px;
}

#intro, .intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.bar {
  width: 100%;
  padding: 8px 20px;
  background-color: #4385d1;
  border-bottom: 1px solid #000;
  opacity: 0.7;
}
.bar div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.bar img {
  opacity: 0;
}
.bar.main {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: 0.7s opacity;
  transition: 0.7s opacity;
}
.bar a {
  display: inline-block;
}
.bar div:hover img {
  opacity: 1;
}

.bar div:nth-child(1) {
  background-color: #fc1c00;
}

.bar div:nth-child(2) {
  background-color: #FFD138;
}

.bar div:nth-child(3) {
  background-color: #11e921;
}

.dialog {
  max-width: 40%;
  background-color: rgba(255, 255, 255, 0.7882352941);
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.dialog .body {
  padding: 20px;
}
.dialog.one {
  left: 5%;
  top: 40vh;
}
.dialog.two {
  right: 15%;
  top: 25vh;
}
.dialog.three {
  right: 5%;
  top: 35vh;
}
.dialog {
  /*
      &.maximize{
          width: 100%;
          max-width: 100%;
          //height: 100vh;
          top: 0;
          left: 0;
          z-index: 10;
          border-radius: 0;background-color: #fff;border:0;
          .navigate{display: none;}
      }
  */
}
.dialog.close, .dialog.minimize {
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  opacity: 0;
}

#home {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#home .container h1, #home .container p {
  width: 55%;
}
#home .container p {
  font-size: 20px;
}

.frame {
  width: 45%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #000;
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
}
.frame img {
  max-width: 100%;
  width: 100%;
  height: auto; /*position: absolute;*/
}

#portfolio {
  position: relative;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
#portfolio .frame {
  display: block;
  opacity: 0;
  height: auto;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  margin: 70px 0;
}
#portfolio .frame:first-child {
  margin-top: 0;
}
#portfolio .frame {
  /*img{
      padding: 50px;
      border: $inkborder;
      top: 50%;
      transform: translate(0, -50%);
  }*/
}
#portfolio .gallery {
  position: relative;
  padding-top: 40px;
}
#portfolio .description {
  position: fixed;
  bottom: 80px;
  left: 48%;
  padding: 50px 20px;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  bottom: unset;
  top: 50%;
  width: 40%;
}
#portfolio .active .description {
  opacity: 1;
  pointer-events: unset;
}
#portfolio .frame.active {
  opacity: 1;
}

#illustrations {
  position: relative;
}
#illustrations .frame {
  display: inline-block;
  position: relative;
  margin-right: 2%;
  vertical-align: middle;
}
#illustrations .frame img {
  top: 0;
}
#illustrations .description-wrapper {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
}

#contact {
  padding-top: 0;
}

.projectview, .portfolioclicked {
  background-color: #fff;
}
.projectview body, .portfolioclicked body {
  background-color: #fff;
}
.projectview #home, .portfolioclicked #home {
  opacity: 0;
}
.projectview #portfolio, .projectview .gallery, .portfolioclicked #portfolio, .portfolioclicked .gallery {
  background-color: #fff;
}
.projectview .dialog .body, .portfolioclicked .dialog .body {
  pointer-events: none;
}
.projectview .dialog, .portfolioclicked .dialog {
  opacity: 0;
}
.projectview #portfolio .dialog, .portfolioclicked #portfolio .dialog {
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  max-width: 100%;
  border-radius: 0;
  border: 0;
  background-color: transparent;
}

.illustrationview {
  background-color: #fff;
}
.illustrationview body, .illustrationview #illustrations {
  background-color: #fff;
}
.illustrationview .dialog {
  opacity: 0;
}
.illustrationview #illustrations .dialog {
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  max-width: 100%;
  border-radius: 0;
  border: 0;
  background-color: #fff;
}
.illustrationview #portfolio {
  opacity: 0;
}
.illustrationview #contact .dialog {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
  max-width: 100%;
  border-radius: 0;
  pointer-events: unset;
}

.contactview #contact .dialog {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
  max-width: 100%;
  border-radius: 0;
  pointer-events: unset;
}

.projectview #home, .illustrationview #home, .contactview #home {
  pointer-events: none;
}
.projectview .bar.main, .illustrationview .bar.main, .contactview .bar.main {
  opacity: 1;
  pointer-events: unset;
}
.projectview .intro, .illustrationview .intro, .contactview .intro {
  position: relative;
}
.projectview .intro .dialog, .illustrationview .intro .dialog, .contactview .intro .dialog {
  pointer-events: none;
  position: relative;
}
.projectview .intro .dialog .bar, .illustrationview .intro .dialog .bar, .contactview .intro .dialog .bar {
  opacity: 0;
}
.projectview .intro .dialog .body, .illustrationview .intro .dialog .body, .contactview .intro .dialog .body {
  padding: 0 5%;
}
.projectview .intro .dialog .navigate, .illustrationview .intro .dialog .navigate, .contactview .intro .dialog .navigate {
  display: none;
}
.projectview .dialog, .illustrationview .dialog, .contactview .dialog {
  top: unset;
  left: unset;
  right: unset;
  border: 0;
}
.projectview .dialog.close, .projectview .dialog.minimize, .illustrationview .dialog.close, .illustrationview .dialog.minimize, .contactview .dialog.close, .contactview .dialog.minimize {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#projectoverview {
  background-color: #fff;
}
#projectoverview h2, #projectoverview h3 {
  margin: 20px 0;
}
#projectoverview h2, #projectoverview h3, #projectoverview h4 {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}
#projectoverview h3, #projectoverview h4 {
  font-weight: normal;
}
#projectoverview section {
  padding-bottom: 0;
}
#projectoverview .frame {
  width: 450px;
  max-width: 35%;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #000;
  margin: 20px 0;
  margin-right: 2%;
  height: unset;
  aspect-ratio: unset;
}
#projectoverview .bar.main {
  opacity: 1;
  pointer-events: unset;
}

ul li {
  margin-left: 15px;
  padding-left: 10px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  #home .container h1, #home .container p {
    width: 80%;
  }
  .dialog.one {
    top: 44vh;
  }
  .dialog.two {
    top: 30vh;
  }
  .dialog.three {
    top: 40vh;
  }
  .frame {
    width: 100%;
    aspect-ratio: unset;
  }
  #portfolio .description {
    position: relative;
    left: unset;
    top: unset;
    width: 100%;
    padding: 25px 0;
  }
}
@media screen and (max-width: 799px) {
  section {
    padding: 5vh 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.6;
  }
  #home .container p {
    font-size: 1.1rem;
  }
  #intro, .intro {
    position: relative;
  }
  nav {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5vh;
  }
  nav > div:first-child {
    margin-top: 40px;
    opacity: 0;
    pointer-events: none;
  }
  nav > div:first-child span {
    margin-top: 0;
  }
  nav div.navlink {
    max-height: unset;
  }
  nav div.navlink span {
    opacity: 1;
    pointer-events: unset;
  }
  nav div.navlink p {
    max-width: unset;
    opacity: 1;
  }
  nav div.navlink a {
    pointer-events: unset;
  }
  nav div.navlink span:hover p {
    max-width: unset;
  }
  #home .container h1, #home .container p {
    width: 100%;
  }
  .projectview nav, .illustrationview nav, .contactview nav {
    padding-top: 50px;
    display: block;
    height: unset;
  }
  .projectview nav #bottom, .illustrationview nav #bottom, .contactview nav #bottom {
    display: none;
  }
  .projectview nav > div:first-child, .illustrationview nav > div:first-child, .contactview nav > div:first-child {
    opacity: 1;
    pointer-events: none;
  }
  .projectview nav > div:first-child p, .illustrationview nav > div:first-child p, .contactview nav > div:first-child p {
    display: none;
  }
  .projectview nav > div:first-child .mobile, .illustrationview nav > div:first-child .mobile, .contactview nav > div:first-child .mobile {
    display: inline-block;
    text-decoration: none;
    padding: 10px 18px;
  }
  #portfolio .frame {
    border: 0;
    padding: 0;
  }
  #portfolio img {
    padding: 20px;
    border: 1px solid #000;
  }
  #illustrations .frame {
    margin-right: 0;
    aspect-ratio: 1/1;
  }
  #projectoverview .frame {
    max-width: 100%;
  }
  #projectoverview nav > div:first-child {
    opacity: 1;
    pointer-events: unset;
  }
  #projectoverview nav > div:first-child p {
    display: none;
    text-decoration: none;
  }
  #projectoverview nav > div:first-child p.mobile {
    display: inline-block;
    opacity: 1;
    padding: 10px 18px;
  }
}/*# sourceMappingURL=style.css.map */
