* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #eef2ff;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
}

h1 {
  color: #5C78EF;
}

h2 {
  font-size: 1.7rem;
}

p {
  margin: 15px 0;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  position: fixed;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}
nav li {
  list-style: none;
  color: #000;
  margin: 60px 0;
}
nav li a {
  padding: 15px 20px;
  border: 1px solid #000;
  background-color: #fff;
}
nav li a span {
  display: inline-block;
  vertical-align: middle;
}
nav li a span:last-child {
  padding-left: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.3s padding;
  transition: 0.5s max-width, 0.3s padding;
}
nav li p {
  background-color: #fff;
}
nav .active {
  color: #fff;
}
nav .active a {
  background-color: #fff;
}
nav .active:nth-child(1) a {
  background-color: #5C78EF;
}
nav .active:nth-child(2) a {
  background-color: #ED8023;
}
nav .active:nth-child(3) a {
  background-color: #F55050;
}
nav .active:nth-child(4) a, nav .active:nth-child(4) p {
  background-color: #0ec778;
}
nav li:hover, nav li.active:hover {
  color: #fff;
}
nav li:hover a span:last-child, nav li.active:hover a span:last-child {
  padding-left: 15px;
  max-width: 160px;
}
nav li:hover:nth-child(1) a, nav li.active:hover:nth-child(1) a {
  background-color: #5C78EF;
}
nav li:hover:nth-child(2) a, nav li.active:hover:nth-child(2) a {
  background-color: #ED8023;
}
nav li:hover:nth-child(3) a, nav li.active:hover:nth-child(3) a {
  background-color: #F55050;
}
nav li:hover:nth-child(4) a, nav li:hover:nth-child(4) p, nav li.active:hover:nth-child(4) a, nav li.active:hover:nth-child(4) p {
  background-color: #0ec778;
}
nav .socialmedia {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  cursor: pointer;
}
nav .socialmedia p {
  padding: 15px 20px;
  border: 1px solid #000;
  margin: 0;
  display: inline;
}
nav .socialmedia a {
  border: 0;
  padding: 0;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  vertical-align: bottom;
}
nav .socialmedia p:hover a {
  max-width: 180px;
  padding-left: 15px;
}

section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 5%;
  padding-bottom: 0;
}

.navigate {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.7rem;
  color: #727272;
}
.navigate:hover {
  color: #000;
}

.dialog {
  max-width: 40%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8235294118);
  position: absolute;
  border: 1px solid #000;
}
.dialog .cancel {
  text-align: right;
  font-family: sans-serif;
}
.dialog .cancel p {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 200;
}
.dialog .cancel a {
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
}
.dialog a:hover {
  text-decoration: underline;
}
.dialog.one {
  left: 20%;
  top: 15%;
}
.dialog.two {
  left: 15%;
  top: 29%;
}
.dialog.two h2 {
  color: #0ec778;
}
.dialog.three {
  right: 10%;
  top: 45%;
  width: 220px;
}
.dialog.three h2 {
  color: #ED8023;
}
.dialog.four {
  right: 40%;
  bottom: 15%;
  width: 250px;
}
.dialog.four h2 {
  color: #F55050;
}

.gallery {
  margin-left: 150px;
  margin-top: 100px;
}
.gallery .image {
  width: 47%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  padding: 5%;
  text-align: center;
}
.gallery .image:nth-child(even) {
  margin-left: 4%;
}
.gallery .image a {
  display: inline-block;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}
.gallery .image .navigate {
  margin: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  color: #dddddd;
  pointer-events: none;
}
.gallery .image .navigate:hover {
  color: #fff;
}
.gallery .image:hover a {
  opacity: 0.9;
}
.gallery .image:hover .navigate {
  opacity: 1;
}
.gallery.three {
  margin-bottom: 0;
}
.gallery.three .image {
  width: 29%;
  vertical-align: top;
}
.gallery.three .image:nth-child(even) {
  margin: 0 4%;
}

#illustrations .gallery .image {
  aspect-ratio: unset;
}
#illustrations .gallery .image .navigate {
  -webkit-transform: unset;
          transform: unset;
  top: 2.5%;
  -webkit-transform: translateY(-1.25%);
          transform: translateY(-1.25%);
  opacity: 1;
  color: #000 !important;
}

.dialog {
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.close {
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  padding: 0;
}

#projects .dialog, #illustrations .dialog {
  margin-left: 150px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.8s margin;
  transition: 0.8s margin;
}

#home {
  opacity: 1;
  -webkit-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.projectview #home {
  opacity: 0;
}

nav .socialmedia a {
  pointer-events: none;
  max-width: 0;
  overflow: hidden;
}

nav .socialmedia .invisible {
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.3s padding;
  transition: 0.5s max-width, 0.3s padding;
}

nav .socialmedia:hover .invisible {
  max-width: 180px;
  padding-left: 15px;
}

nav .socialmedia a {
  display: none;
}

.nothome nav .socialmedia a {
  pointer-events: unset;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s max-width, 0.3s padding;
  transition: 0.5s max-width, 0.3s padding;
}

.nothome nav .socialmedia:hover a {
  max-width: 110px;
}

.nothome nav .socialmedia .invisible {
  display: none !important;
}

.showsm .socialmedia, .nothome .socialmedia {
  display: list-item;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*
.removesm{
    nav .socialmedia{display: none;}
    &.showsm.nothome .socialmedia{display: list-item;}
}
*/
.projectview #projects .dialog {
  margin-left: 0;
}

.illustrationview #illustrations .dialog {
  margin-left: 0;
}

.open {
  display: none;
  margin-bottom: 40px;
}
.open span {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #000;
  background-color: #fff;
}
.open span:last-child {
  display: none;
}

#home .dialog {
  margin: 20px 0;
}
#home .dialog.one {
  margin-top: 0;
}
#home .dialog.one .cancel {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  h1, h2, h3, .navigate {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  body {
    padding-top: 30px;
  }
  .open {
    display: block;
  }
  nav ul {
    display: none;
    padding-top: 15%;
  }
  section {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  nav {
    left: 0;
    -webkit-transform: unset;
            transform: unset;
    text-align: right;
    width: 100%;
    height: unset;
    right: 0;
    top: 0;
    padding: 30px 5%;
  }
  nav li {
    margin: 0;
    margin-bottom: 60px;
  }
  nav li, nav li:hover, nav li.active:hover {
    color: #fff;
  }
  nav li a span:last-child, nav li:hover a span:last-child, nav li.active:hover a span:last-child {
    padding-left: 15px;
    max-width: 160px;
  }
  nav li:nth-child(1) a, nav li:hover:nth-child(1) a, nav li.active:hover:nth-child(1) a {
    background-color: #5C78EF;
  }
  nav li:nth-child(2) a, nav li:hover:nth-child(2) a, nav li.active:hover:nth-child(2) a {
    background-color: #ED8023;
  }
  nav li:nth-child(3) a, nav li:hover:nth-child(3) a, nav li.active:hover:nth-child(3) a {
    background-color: #F55050;
  }
  nav li:nth-child(4) a, nav li:nth-child(4) p, nav li:hover:nth-child(4) a, nav li:hover:nth-child(4) p, nav li.active:hover:nth-child(4) a, nav li.active:hover:nth-child(4) p {
    background-color: #0ec778;
  }
  nav .socialmedia {
    display: list-item;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav .socialmedia a {
    max-width: 180px;
    padding-left: 15px;
  }
  nav .socialmedia a {
    pointer-events: unset;
    display: inline-block;
  }
  nav .socialmedia .invisible {
    display: none;
  }
  .nothome nav .socialmedia a {
    max-width: 100%;
  }
  .dialog {
    max-width: 100%;
    width: 100%;
    position: relative;
  }
  .dialog.one, .dialog.two, .dialog.three, .dialog.four {
    left: 0;
    right: unset;
    bottom: unset;
    width: 100%;
    top: unset;
  }
  #home .dialog {
    margin: 0;
    margin-bottom: 20px;
    -webkit-transition: 0.5s height, 0.5s -webkit-transform;
    transition: 0.5s height, 0.5s -webkit-transform;
    transition: 0.5s transform, 0.5s height;
    transition: 0.5s transform, 0.5s height, 0.5s -webkit-transform;
  }
  #home .dialog.two {
    width: unset;
    left: 10%;
    display: inline-block;
    max-width: 85%;
  }
  #home .dialog.two.close {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }
  #home .close {
    height: 0;
    margin: 0;
  }
  .gallery {
    margin-left: 0;
    margin-top: 50px;
  }
  .gallery .image {
    aspect-ratio: unset;
    text-align: center;
  }
  .gallery .image, .gallery .gallery.three .image, .gallery.three .image:nth-child(even) {
    width: 100%;
    margin-bottom: 30px;
  }
  .gallery .image:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery img {
    display: inline-block;
  }
  #illustrations .gallery .image .navigate {
    top: -2rem;
  }
  .clicked {
    overflow: hidden;
  }
  .clicked .open span:first-child {
    display: none;
  }
  .clicked .open span:last-child {
    display: inline-block;
  }
  .clicked nav {
    height: 100vh;
    background-color: #fff;
  }
  .clicked nav ul {
    display: block;
  }
  #projects, #illustrations {
    padding-top: 30px;
  }
  .gallery .image:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 801px) {
  .gallery.three .image {
    padding: 2%;
  }
  nav ul li:last-child {
    border-color: green;
  }
  nav ul li:last-child p {
    border-color: green;
  }
  nav ul li:last-child p span:first-child {
    color: green;
  }
}/*# sourceMappingURL=style.css.map */
