h2{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-style: normal;
    margin: 20px 0;
    font-size: 1.5rem;
}

.home nav li{transform: scale(1);margin: 40px 0;max-height: 400px;}
.home nav li a{pointer-events: unset;}
.home nav li:nth-child(4) a{display: inline-block;transition: 0.5s max-width,0.5s padding;}
nav li:nth-child(4) .invisible{display: none;}
nav li:hover:nth-child(4) a{max-width: 95px;}

.dialog{position: relative;}

section{min-height: unset;}

.gallery{margin: 30px 0}
.gallery .image{vertical-align: top;aspect-ratio: unset;}

.dialog{display: inline-block;}

section > .wrapper{margin-left: 10%;}


@media screen and (max-width: 800px){
    h2{font-size: 1.3rem;}
    section > .wrapper{margin-left: 0;}
    .gallery.three .image{width: 100%;}
    .gallery.three .image:nth-child(even){margin-left: 0;margin-right: 0;}
}
