h2 {
  display: table;
}

img {
  width: 100%;
  max-width: 100%;
}

.offset {
  padding-top: 30px;
}

section .container {
  width: 100%;
}

#projtitle,
.summary {
  position: relative;
}
#projtitle .border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  left: 50%;
  transform: translate(-50%, 0);
} /*
#projtitle .border .container {
  padding: 0 0;
}
#projtitle .border > div div {
  position: absolute;
  width: 80%;
  height: 100%;
  border: 1px solid;
  right: 5%;
}*/
#projtitle .border > div {
  position: relative;
  height: 100%;
  width: 1050px;
  max-width: 90%;
}
#projtitle .border > div div {
  position: absolute;
  border: 1px solid;
  width: 90%;
  height: 130%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: right;
  display: flex;
  align-items: end;
  justify-content: end;
}
#projtitle svg {
  /*height: 110%;*/
  width: auto;
  position: absolute;
  right: 5%;
  z-index: 5;
  top: 5%;
  height: 134%;
}

#projtitle .flex {
  align-items: center;
}
#projtitle .left {
  position: relative;
}
#projtitle .left img {
  width: 220px;
  min-height: 100px;
}
#projtitle .right {
  position: relative;
  padding-left: 20px;
}
/*
.casestudy {
  width: 800px;
  max-width: 100%;
}
.casestudy h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.casestudy p {
  margin: 15px 0;
  padding-left: 60px;
}
*/
h2 {
  margin-top: 40px;
  margin-bottom: 15px;
}
.summary {
  z-index: 5;
}
.summary p,
.summary ul,
.summary ol {
  margin: 15px 0;
  padding-left: 40px;
}
.summary li {
  margin-left: 15px;
}
.summary .inner,
.summary.img100 {
  width: 1050px;
  max-width: 90%;
}
.summary .left {
  width: 70%;
  margin-right: 9%;
  display: inline-block;
}
.summary .right {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
.summary .left img {
  margin-bottom: 15px;
}

.card {
  background: #000;
  /*border: 1px solid;
  padding: 10px;*/
  margin-bottom: 15px;
  position: relative;
  transition: 0.5s border-color;
}
.card img {
  width: 100%;
  max-width: unset;
  position: relative;
  /*left: 50%;
  transform: translate(-50%, 0);*/
  transition: 0.5s width;
}

.colours {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 30px 0;
}
.colours span {
  padding: 10px;
  margin-right: 10px;
}

.card:hover {
  border-color: transparent;
  overflow: visible;
}
.card:hover img {
  width: 140%;
  box-shadow: 0 0 15px #000;
}

.final img {
  margin-bottom: 20px;
}

@media screen and (min-width: 901px) {
  .overflow .inner {
    position: relative;
  }

  .overflow .summary .right {
    position: absolute;
    right: 0;
  }

  .overflow .final {
    max-width: 70%;
  }
}

@media screen and (max-width: 900px) {
  #projtitle svg {
    height: 110%;
  }
  .summary .inner,
  .summary.img100 {
    width: 90%;
    max-width: 100%;
  }
  .summary .left,
  .summary .right {
    width: 100%;
    margin: 0;
  }
  .summary p,
  .summary ul,
  .summary ol {
    padding-left: 0;
  }

  .colours {
    margin: 20px 0;
  }
  .colours span {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card {
    max-height: 460px;
    overflow: hidden;
  }
  .card:hover img {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  #projtitle {
    margin-top: 80px;
  }
  #projtitle svg {
    width: 330px;
    max-width: 52%;
    height: auto;
    top: -80px;
    transform: scale(-1, 1);
    right: unset;
    left: -8%;
  }
  #projtitle .flex {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  #projtitle .left,
  #projtitle .right {
    padding-left: 0;
    margin: 0 20px;
  }
  h1 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #projtitle .border > div,
  #projtitle .border > div div {
    width: 100%;
    max-width: 100%;
  }
}
